/* Navbar */
.main{
    background-color: #251F1F;
    position: fixed;
    z-index: 10;
    height: 100px;
    top: 0;
}

.left_side{
    width: 30%;
    margin: 0 60px !important;
}

.right_side > div{
    margin: 0 5px;
}

.right_side > div:hover{
    cursor: pointer;
    color: #2A6482;
}

.image > img{
    width: 180px;
    object-fit: contain;
}

.search{
    border: none;
}

.tools > span{
    font-size: 16px;
    font-weight: 600;
}

.navb{
    min-height: 100px;
}

.left_side{
    margin: 0 auto;

}

.nav2{
    
    background-color: #F4AE1A;
    height: 36px;
    position: fixed;
    z-index: 10;
    top: 99px;
}

.quick > p{
    font-weight: 500;
}

/* Slider */
.slider{
    margin-top: 135px;
}

/* TOP */

.product{
    width: 60%;
}

.product > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.product > ul > li{
    list-style: none;
    margin: 0 10px; 
    font-weight: 500;
    cursor: pointer;
}

.product > ul > li:hover{
    color: #2A6482;
}



.top_products > h2{
    font-size: 36px;
    color: #454545;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -1.5px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product_item{
    width: 90%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.items{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    margin: 10px 10px;
}

.product_item > .items > img {
    width: 170px;
    height: 170px;
    object-fit: contain;
    border: 1px solid silver;   
}

.product_item > .items > h3{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

/* Setup */

.setup > div{
    margin: 0 20px;
}

.pic{
    max-width: 100%;
    height: 325px;
}

.link{
    cursor: pointer;
    font-family: 'Helvetica Neue',sans-serif;
    color: #428bca;
    font-weight: 700;
    text-decoration: none;
}

.btn{
    background-color: #f4ae1a;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.my_dist > .images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my_dist > .images > img{
    width: 250px;
    height: 150px;
    object-fit: contain;
}

/* Footer */
.footer{
    background-color: #251F1F;
}

.navft > div{
    margin-top: 20px;
}

.footer > .navft > .left_side > .texti {
    color: #F4AE1A;
    font-size: 2rem;
    font-weight: bold;
    width: 90%;
}

.footer > .navft > .left_side > .tools > span{
    display: flex;
    align-self: baseline;
    width: 100%;
    font-size: 14px;
}

.page-bottom{
    background-color: #F4AE1A;
}

.div1{
    margin-left: -16px;
}

.div1 > p{
    color: #251F1F;
    font-weight: bold;
    font-size: 16px;
}


.div1 > ul > li{
    list-style: none;
    margin-left: -33px;
    text-align: left;
    color: #000;
    transition: all 0.2 ease-in;
    cursor: pointer;
    line-height: 25px;
    margin-bottom: 5px;
}

@keyframes move {
    from {margin-left: -33px;}
  to {margin-left: -25px;}
  }

.div1 > ul > li:hover{
    color: #428bca;
    animation-name: move;
    animation-duration: 100s;
}

.div4 > h5{
    color: #428bca;
    font-weight: bold;
}

.div5 > h3{
    font-weight: bold;
    font-size: 16px;
}

.div5 > .icons > a{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.div5 > .icons > a > i{
    margin-top: 5.5px;
    font-size: 31px;
}